<odoo>
    <data>
        <menuitem id="color_menu_list" 
            action="color_action" 
            parent="sale.product_menu_catalog"
            name="Colors" />

        <menuitem id="product_size_menu_list" 
            action="product_size_action" 
            parent="sale.product_menu_catalog"
            name="Product Size" />

        <menuitem id="artwork_menu_list" 
            action="artwork_action" 
            parent="sale.product_menu_catalog"
            name="Artworks" />

        <menuitem id="menu_sale_materials"
            name="Materials"
            parent="sale.product_menu_catalog"
            groups="base.group_user"/>

        <menuitem id="material_color_menu_list" 
            action="material_color_action" 
            parent="menu_sale_materials"
            name="Colors" />
        
        <menuitem id="material_type_menu_list" 
            action="material_type_action" 
            parent="menu_sale_materials"
            name="Types" />

        <menuitem id="material_size_menu_list" 
            action="material_size_action" 
            parent="menu_sale_materials"
            name="Sizes" />
    </data>
</odoo>