<odoo>
    <data>
        <menuitem id="menu_sale_clothes"
            name="Clothes"
            parent="sale.product_menu_catalog"
            groups="base.group_user"/>

        <menuitem id="clothes_location_menu_list" 
            action="clothes_location_action" 
            parent="menu_sale_clothes"
            name="Location" />
        
        <menuitem id="clothes_type_menu_list" 
            action="clothes_type_action" 
            parent="menu_sale_clothes"
            name="Type" />

        <menuitem id="menu_sale_sellerscommerce"
            name="SellersCommerce"
            parent="sale.product_menu_catalog"
            groups="base.group_user"/>

        <menuitem id="product_catalog_menu_list" 
            action="sellerscommerce_product_catalog_action" 
            parent="menu_sale_sellerscommerce"
            name="Product Catalog" />
    </data>
</odoo>
