<odoo>
    <data>
        <menuitem id="menu_sale_materials"
            name="Materials"
            parent="sale.product_menu_catalog"
            groups="base.group_user"/>

        <menuitem id="material_color_menu_list" 
            action="material_color_action" 
            parent="menu_sale_materials"
            name="Colors" />
        
        <menuitem id="material_type_menu_list" 
            action="material_type_action" 
            parent="menu_sale_materials"
            name="Types" />

        <menuitem id="material_size_menu_list" 
            action="material_size_action" 
            parent="menu_sale_materials"
            name="Sizes" />

        <menuitem id="menu_sale_clothes"
            name="Clothes"
            parent="sale.product_menu_catalog"
            groups="base.group_user"/>

        <menuitem id="clothes_location_menu_list" 
            action="clothes_location_action" 
            parent="menu_sale_clothes"
            name="Location" />
        
        <menuitem id="clothes_type_menu_list" 
            action="clothes_type_action" 
            parent="menu_sale_clothes"
            name="Type" />

    </data>
</odoo>
